<div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="title">Titres</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="book.title"
            name="title"
          />
        </div>

        <div class="form-group">
          <label for="auteur">Auteur</label>
          <input
            class="form-control"
            id="auteur"
            required
            [(ngModel)]="book.auteur"
            name="auteur"
          />
        </div>
  
        <div class="form-group">
          <label for="genre">Genre</label>
          <input
            class="form-control"
            id="genre"
            required
            [(ngModel)]="book.genre"
            name="genre"
          />
        </div>

        <div class="form-group">
          <label for="prix">Prix</label>
          <input
            class="form-control"
            id="prix"
            required
            [(ngModel)]="book.prix"
            name="prix"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            class="form-control"
            id="description"
            required
            [(ngModel)]="book.description"
            name="description"
          />
        </div>

        <button (click)="saveBook()" class="btn btn-success">Sauvegarder</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Bien enregistré !</h4>
        <button class="btn btn-success" (click)="newBook()">Ajouter</button>
      </div>
    </div>
  </div>