<div style="width: 400px; margin: auto;">
    <div *ngIf="currentBook" class="edit-form">
      <h4>Livre</h4>
      <form>
        <div class="form-group">
          <label for="title">Titre</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentBook.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="auteur">Auteur</label>
          <input
            class="form-control"
            id="auteur"
            required
            [(ngModel)]="currentBook.auteur"
            name="auteur"
          />
        </div>
  
        <div class="form-group">
          <label for="genre">Genre</label>
          <input
            class="form-control"
            id="genre"
            required
            [(ngModel)]="currentBook.genre"
            name="genre"
          />
        </div>

        <div class="form-group">
          <label for="prix">Prix</label>
          <input
            class="form-control"
            id="prix"
            required
            [(ngModel)]="currentBook.prix"
            name="prix"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentBook.description"
            name="description"
          />
        </div>

      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentBook.published"
        (click)="updatePublished(false)"
      >
        Dépublier
      </button>
      <button
        *ngIf="!currentBook.published"
        class="badge badge-primary mr-2"
        (click)="updatePublished(true)"
      >
        Publier
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteBook()">
        Supprimer
      </button>
  
      <button
        type="submit"
        class="badge badge-success"
        (click)="updateBook()"
      >
        Mettre à jour
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentBook">
      <br />
      <p>Le livre n'est pas accessible.</p>
    </div>
  </div>